html,
body {
  margin: 0;
  height: 100%;
  font-family: "Dela Gothic One", sans-serif;
}

.top1 {
  width: 100%;
  height: 100vh;
  background-image: url(12.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex; /* Added for centering vertically */
  justify-content: center; /* Added for centering vertically */
  align-items: center; /* Added for centering vertically */
  z-index: 100;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5vw;
  padding: 15px;
  padding-right: 3vw;
  z-index: 100;
  border: none;
}

.logo {
  color: rgba(0, 0, 0, 0.66);
  text-decoration: none;
  /* background-color:rgba(78, 76, 76, 0.458); */
  padding: 10px;
  border-radius: 20px;
}

.mainButton {
  background: linear-gradient(
    to right bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3)
  );
  color: white;
  border: none;
  width: 9vw;
  height: 4vw;
  border-radius: 1vw;
  border-bottom-right-radius: 0px;
  font-size: 1.5vw;
  font-family: "Dela Gothic One", sans-serif;
}

.dropDown {
  display: none;
  position: absolute;

  background: linear-gradient(
    to right bottom,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
  width: 12vw;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
  top: 80%;
  right: 3%;
}

.dropDown ul {
  list-style: none;
}

.dropDown a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 2vw;
}

.show {
  display: block;
}

.main {
  width: 100vw;
  height: 100vh;
}

.mainTxt {
  color: white;
  font-size: 7vw;
  margin: 0%;
  pointer-events: none;
}

.mainTxt span {
  display: inline-block;
}

.top2 {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
  justify-content: space-between;
  align-items: center;
  min-height: 5vw;
  padding: 3.5vw;
  border: none;
  font-family: "Pridi", serif;
  font-weight: 200;
}

.sub {
  font-size: 4.2vh;
}

.img1 {
  height: 18vw;
}

.mid {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: whitesmoke;
}

.Sertxt {
  font-size: 2vw;
}

.serviceTabs {
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
}

.tab1,
.tab2,
.tab3 {
  width: 25vw;
}

.tab1 img,
.tab2 img,
.tab3 img {
  width: 100%;
}

.tabtitle {
  font-size: 2vw;
  padding: 0.5vw;
}

.tabdescp {
  font-size: 1.5vw;
  color: gray;
  max-width: 100%;
  word-wrap: break-word;
  padding: 0.5vw;
  font-family: "Pridi", serif;
  font-weight: 200productdescrpiton;
}

/* BOTTOM 1 STARTS HERE  */

.bottom1 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.productsOverview {
  flex: 8;
  background: linear-gradient(to top right, #fb2d00, #b00200);
  display: flex;
  flex-direction: column;
  padding: 2vh 0;
  color: white;
  overflow: hidden;
}

.productTitle {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7vh;
}

.productDetails {
  height: 90%;
  display: flex;
  flex-direction: row;
  padding: 0 2vh;
}

.productDetails img {
  width: 76vh;
  height: 51vh;
  border-radius: 20%;
  transform: translateY(13%);
}

.productdescrpiton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 16vh;
}

.productdescrpiton > p:nth-child(1) {
  font-size: 10vh;
  margin: 0;
}

.productdescrpiton > p:nth-child(2) {
  font-size: 5vh;
  margin: 0;
  font-family: "Pridi", serif;
  font-weight: 300;
  font-style: normal;
}

.productdescrpiton > p:nth-child(3) {
  font-family: "Pridi", serif;
  font-weight: 200;
  font-style: normal;
  font-size: 3.5vh;
  text-align: center;
}

.prodcutMenu {
  flex: 2;
  padding: 0 3vw;
  background: linear-gradient(#fb2d00, #b00200);
}

.menu {
  width: 100%;
  height: 100%;
  border-radius: 20vw;
  display: flex;
  justify-content: space-around;
}

.menu img {
  cursor: pointer;
}

.selectionTab {
  border-radius: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectionTab:nth-child(1) {
  background-color: white;
}
/* BOTTOM 2 STARTS HERE */

.movingText {
  background: linear-gradient(#9ef01a, #70e000);
  height: 100%;
  display: flex;
  overflow: hidden;
  padding: 2vw 0;
}

.quote {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: 0 1.5vw;
  gap: 1.5vw;
  transform: translateX(-80%);
}
.quote h4 {
  font-size: 5vh;
  margin: 0;
}

.quote img {
  height: 7vh;
  width: 3.5vw;
}

.bottom3 {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background-image: url(helpingimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradbackground {
  width: 90%;
  height: 90%;
  background: linear-gradient(
    to bottom,
    rgba(21, 21, 21, 0.115),
    rgba(21, 21, 21, 0.125)
  );
}

.textbox {
  width: 50%;
  height: 50%;
  transform: translatex(100%);
  text-align: center;
  display: flex;
  align-items: center;
}

.textbox h1 {
  font-size: 4vh;
  color: rgba(255, 255, 255, 0.932);
  margin: 0%;
}

.textbox2 {
  width: 80%;
  height: 50%;
  text-align: center;
  display: flex;
  align-items: flex-end;
}

.textbox2 h1 {
  font-size: 12vh;
  color: rgba(255, 255, 255, 0.932);
  margin: 0%;
}

footer {
  position: relative;
  padding: 0vw 1vw 5vw 4vw;
  color: white;
  background-color: rgb(45, 42, 42);
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  gap: 10vw;
}

.CONTACT {
  transform: translateY(10%);
  width: 90%;
  height: 30%;
}

.CONTACT h1 {
  font-size: 10vh;
}

.footContents {
  display: flex;
  flex-direction: row;
  column-gap: 25vw;
}

.socialIcons {
  display: flex;
  column-gap: 10px;
}

.signUp {
  width: 600px;
  word-wrap: break-word;
}

.input {
  background-color: rgb(45, 42, 42);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1vw;
  display: block;
}

.signButton {
  margin-top: 1.5vw;
  padding: 1vw 3vw;
  background-color: rgb(1, 148, 1);
  border: none;
  color: white;
  border-radius: 15px;
  font-size: 0.9vw;
}

@media only screen and (max-width: 697px) {
  .top1 {
    background-size: cover; /* Adjust for smaller screens */
  }

  .Sertxt {
    font-size: 5vw;
  }

  .img1 {
    height: 25vw;
  }

  .mainTxt {
    font-size: 11vw;
  }

  .productText {
    font-size: 5vw;
  }

  .bottom2 {
    display: none;
    pointer-events: none;
  }
}
