html, body {
    margin: 0;
    height: 100%;
    font-family: Poppins ;
}

  

.top1{
    width: 100%;
    height: 100vh;
    background-image: url(12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed ;
    background-size: cover;
}


header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    padding: 35px;
    z-index: 100;
    border: none;
  
}

.logo{
    color: white;
    text-decoration: none;
    background-color:rgba(78, 76, 76, 0.458);
    padding: 10px;
    border-radius: 20px;
}

nav{
    display: flex;
    flex-direction: row;
    column-gap: 100px; 
    background-color: rgba(78, 76, 76, 0.458);
    padding: 20px;
    border-radius: 20px;
}

nav a{
    color:white;
    text-decoration: none;


}

.main{
    text-align: center;
    width: 100%;
    height: 100vh;
    display: flex; /* Added for centering vertically */
    justify-content: center; /* Added for centering vertically */
    align-items: center; /* Added for centering vertically */
    z-index: 100;
}

.mainTxt{
    color: white;
    font-size: 150px;
    margin: 0%;
}

.top2{
    position: relative;
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    justify-content: space-between;
    align-items: center;
    min-height: 400x;
    padding: 50px;
    border: none;
}

.sub{
    font-size: 30px;
}

.mid{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke
}

.Sertxt{
    font-size: 50px;
}

.serviceTabs{
    padding-left:55px ;
    padding-right:55px ;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    row-gap: 20px;
    justify-content: space-between;
    background-color: whitesmoke;
}

.tab1, .tab2, .tab3{
    width: 600px;
}

.tab1 img ,.tab2 img ,.tab3 img{
    width: 100%; 
}

.tabtitle{
    font-size: 40px;
    padding: 10px;
}


.tabdescp {
    font-size: 30px;
    max-width: 100%; 
    word-wrap: break-word;
    padding: 10px;
}

.bottom1{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    padding-bottom: 50px;
}

.productText{
    font-size: 40px;
}

.prodctsOverview{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}
.rowP1 ,.rowP2{
    display: flex;
    justify-content: space-between;
}



.productsTab{
    width: 500px;
    height: 477px;
    box-shadow: 0px 0px 5px gray;
}

.productDes{
    padding-bottom: 10px;
    margin: 0px;
}

.plantImg{
    width: 100%;
    height: 100%;
}

.plantHImg{
    width: 100%;
    height: 333.36px;
    object-fit: cover;
}




footer{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 160px 10px 10px 40px ;
    color: white;
    background-color: rgb(45, 42, 42);
    font-size: 25px;
}

.footContents{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialIcons{
    display: flex;
    column-gap: 10px;
}

.signUp{
    width: 600px;
    word-wrap: break-word;
}

.input{
    background-color:  rgb(45, 42, 42);
    border-top: none;
    border-left: none ;
    border-right: none ;
    font-size: 20px;
    display: block;
}

.signButton{
    margin-top: 20px;
    padding: 20px 40px;
    background-color: rgb(1, 148, 1);
    border: none;
    color: white;
    border-radius: 15px;
    font-family:Poppins;
    font-size: 15px;
}

